<div>
    <ul>
        <li *ngFor="let model of employees">{{model.id}} - {{model.name}} - {{model.age}}</li>
    </ul>
    <table style="border: 1px solid;">
        <tr *ngFor="let model2 of employees" >
            <td>{{model2.id}}</td>
            <td>{{model2.name}}</td>
            <td>{{model2.age}}</td>
        </tr>
    </table>
</div>
